<!DOCTYPE html>
<html lang="en" ng-app="TinkerApp">
<head>
    <title data-ng-bind="title">Tinker</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="google-signin-client_id" content="6930735648-8bjl485b8r6ma2fqrep72pp2pst6idrc.apps.googleusercontent.com">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body layout="column"  ng-cloak >

<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout-sm="column" layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm aria-label="Show User List">
                <md-icon md-svg-icon="menu" ng-click="toggleLeft()" ></md-icon>
            </md-button>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Tinker</h2>
            </div>

            <div layout-align="center center" flex="20" layout="row" ng-if="showLogout">
                <my-loggedin-username></my-loggedin-username>
                <md-button class="md-primary" href="#/logout">logout</md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="row" ng-view>

        </md-content>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>


<script src="src/app.js"></script>

<!--Start : Controllers -->
<script src="./src/controllers/LoginCtrl.js"></script>
<script src="./src/controllers/LogoutCtrl.js"></script>
<script src="./src/controllers/CreateTeamCtrl.js"></script>
<script src="./src/controllers/AddTeamMemberCtrl.js"></script>
<script src="./src/controllers/SignupToTeamCtrl.js"></script>
<script src="./src/controllers/HomeCtrl.js"></script>
<script src="./src/controllers/SendFeedbackCtrl.js"></script>
<script src="./src/controllers/SendAdhockFeedbackCtrl.js" type="text/javascript"></script>
<!--End : Controllers -->

<!--Start : Directives -->
<script src="./src/directives/google-plus-signin.js"></script>
<script src="./src/directives/my-feedback.js"></script>
<script src="./src/directives/my-badges.js"></script>
<script src="./src/directives/my-sidebar.js"></script>
<script src="./src/directives/my-loggedin-username.js"></script>
<script src="./src/directives/feedback-list.js"></script>
<!--End : Directives -->

<!--Start : Services -->
<script src="./src/services/login-service.js"></script>
<script src="./src/services/team.js"></script>
<script src="./src/services/members.js"></script>
<script src="./src/services/feedback.js"></script>
<!--End : Services -->

<script type="text/javascript">

</script>

</body>
</html>
