<div layout="column" layout-align="center center" layout-wrap>
    Signup for team
</div>

<div layout="column" layout-align="center center" layout-wrap>
    Hello {{member_name}}, {{organiser_name}} has added you to team `{{team_name}}`.
</div>
<div layout="column" layout-align="center center" layout-wrap>
    Login with google account by clicking below button and complete your registration.
</div>

<div  layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <google-plus-signin></google-plus-signin>
</div>





